@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}

/* .content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navLink {
  display: flex;
  gap: 40px;
} */
